.tables{
    border: solid;
}

.page{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL5uxCZE0y_nEPE1urvoFmJ7wkVl_4xld2OrP75VNmn9PjMncsgQHYqPT09lT8muwYnMk&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}